/* GT RACE MARBELLA - FUENTES */

@font-face {
  font-family: 'March';
  src: url('/fonts/March_Personal_Use_Only.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-march: 'March', serif;
  --font-heading: 'March', serif;
  --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.font-march {
  font-family: var(--font-march);
}

.font-heading {
  font-family: var(--font-heading);
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}